@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

html, body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background: #000;
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100vh;
}

.solaiel-text {
    fill: #d8d3d3; /* Light gray; change to #FFC107 for mustard yellow if desired */
    font-size: 25px;
}

.logo-group {
    transform: translate(0, 0);
}